:root {

    --green: #008000FF;

}

body {
    background-color: white;
    display: grid;
    place-items: center;
}

.touch {
    cursor: pointer;
}

.flash {
    color: var(--green);
    background-color: whitesmoke;
    line-height: 3;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

a {
    color: black;
    transition: ease-in-out;
}

.addbutton {
    float: right;
    background-color: black;
    margin-bottom: 10px;
}

.addbutton:hover{
    background-color: var(--green);
    color: white;
}

a:hover {
    color: var(--green);
}