{% extends 'base.html.twig' %}

{% block title %}Betriebsmittel anzeigen{% endblock %}



{% block body %}

    <h1>Was für ein tolles Betriebsmittel!</h1>
    <h2>{{ betriebsmittel.name }}</h2>



{% endblock %}
