{% extends 'base.html.twig' %}

{% block title %}Betriebsmittel erstellen{% endblock %}



{% block body %}

    <div>
        <h2>Geben Sie den Namen für das neue Betriebsmittel ein:</h2>


        {{ form_start(create_form) }}

            {{ form_row(create_form.name) }}

        {{ form_end(create_form) }}
    </div>




{% endblock %}
