{% extends 'base.html.twig' %}

{% block title %}Betriebsmittelliste{% endblock %}



{% block body %}

<div>
    <h1>Betriebsmittel</h1>

    <table class="highlight responsive-table z-depth-5 centered">
        <thead>
        <tr>
            <th>Gerätebezeichnung</th>
        </tr>
        </thead>

        <tbody>
        {% for objekt in betriebsmittel %}
            <tr>
                <td >{{ objekt.name }}</td>
                <td><i style="float: right" class="small material-icons touch">delete</i>
                    <i style="float: right" class="small material-icons touch">edit</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
